<div class="Ideas-options">
    <button pButton type="button" icon="fa fa-arrow-left"></button>
  
    <button
      *ngIf="currentUser"
      pButton
      [routerLink]="['/ideas', 'new']"
      label="Create New Idea"
      class="ui-button-info"
    ></button>
  
    <button pButton icon="fa fa-arrow-right"></button>
  </div>
 
  
  
  <div *ngIf="ideas else spinner">
    <app-idea
      *ngFor="let idea of ideas"
      [idea]="idea"
      [displayOptions]="idea.author.id === currentUser?.id"
      (onUpvote)="upvote(idea.id)"
      (onDownvote)="downvote(idea.id)"
    ></app-idea>
    <ng-template #spinner>
    <p-progressSpinner ></p-progressSpinner>
  </ng-template>
  </div>